<% if authorize(@user) %>
  <%= form_for @post do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :content %><br>
    <%= f.text_area :content %><br>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.submit %>

  <% end %>
<% end %>

<% @posts.each do |post| %>
  <br><h3><%= post.title %></h3>
  <%= post.content %><br>
  <% if authorize(@user) %>
     <%= form_for(post, html: {method: :delete}) do |f| %>
       <%= f.submit value: "delete"%><br>
     <% end %>

   <% end %>
<% end %>